<nav class="navbar navbar-fixed-top">
  <div align="center">

    <div class="btn-group">
      <%= link_to '<button type="button" class="btn btn-lg btn-default" aria-haspopup="true" aria-expanded="false">HOME PAGE</button>'.html_safe, root_url %>
    </div>

    <div class="btn-group">
      <%= link_to '<button type="button" class="btn btn-lg btn-default" aria-haspopup="true" aria-expanded="false">MY PROJECTS</button>'.html_safe, projects_url %>
    </div>

    <div class="btn-group">
      <%= link_to '<button type="button" class="btn btn-lg btn-default" aria-haspopup="true" aria-expanded="false">TASKS</button>'.html_safe, tasks_url %>
    </div>

  </div>
</nav>