<% provide(:title, 'New ProjectManager') %>

<div class="container">
  <div class="well">
    <%= render partial: 'project_manager_form', locals: { btn_text: 'CREATE PROJECT MANAGER',
                                                          show_del_btn: false } %>
  </div>
</div>